button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
}

button:focus {
    color: #000;
}

button:hover {
    color: #000;
}

button:active {
    color: #000;
}

input {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: inherit;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    padding: 0;
    margin: 0;
}


